h1 {
    font-size: 22px;
    margin-top: 3vh;
}

#typhoon-timeline {
    shape-rendering: initial;
}

.y.axis text {
    text-anchor: end;
}

.nav {
    background-color: white;
}

.time-nav {
    background-color: white;
    padding-left: 0;
}

.nav-tab-crop {
    padding-right: 0;
}

#toolbar {
    border-bottom: 1px solid gainsboro;
}

html body#dummybodyid div.container div#nav-tabContent.tab-content div#nav-analysis.tab-pane.fade.show.active div#typhoon-timeline.row svg.timeline g g.y.axis g.row rect {
    width: 1122px;
}

h4 {
    font-size: 20px;
    margin-top: 1vh;
}

#nav-range-label {
    padding-right: 5px;
    padding-top: 8px;
}

.switch-container {
    margin-top: 1vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

#select_weather{
    margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}