h1 {
    margin-top: 3vh;
}

#typhoon-timeline {
    shape-rendering: initial;
}

.y.axis text {
    text-anchor: end;
}

.nav {
    background-color: white;
}

.time-nav {
    background-color: white;
    padding-left: 0;
}

.nav-tab-crop {
    padding-right: 0;
}

#toolbar {
    border-bottom: 1px solid gainsboro;
}

html body#dummybodyid div.container div#nav-tabContent.tab-content div#nav-analysis.tab-pane.fade.show.active div#typhoon-timeline.row svg.timeline g g.y.axis g.row rect {
    width: 1122px;
}

h4 {
    margin-top: 1vh;
}