<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" />
    <title>Time Range Slider</title>
    <link rel="stylesheet" href="time-range.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script src="lib/jQDateRangeSlider-min.js"></script>
</head>

<body>
    <h1>Time Range Slider</h1>
    <div id="slider" style="width: 50%;"></div>
    <script src="time-range.js"></script>
</body>

</html>